
.navbar_ {
  height: 140pxx;
  width: 100vw;
  background-color: rgb(217, 145, 240);
  display: flex;
}


.navbar_ .Homepage{
  color: black;
  font-size: 35px;
  position: relative;
  top: 100ox;
  left: 725px;
}

.navbar_ .Pages{
  position: static;
}

.card{
  border: 2px solid rgb(150, 150, 150);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(141, 101, 168);
  padding: 20px;
  margin: 10px;
  text-align: center; 
}

.card .card_image{
  max-width: 10%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card_title { 
  font-family: Arial, sans-serif;
  font-size: 50px;
  margin: 0;
  color: rgb(163, 90, 200);

}

.card .card_text {
  font-family: Arial, sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 100)
}

.welcome_header {
  font-family: Verdana, sans-serif;
  font-size: 85px;
  text-align: center;
}


